<div class="card">
  <div class="card-header">
    <h5>Price & coupons</h5>
  </div>
  <div class="card-body">
    <label>Course Price Tier</label>
    <div>
      <p>Please select the price tier for your course below and click 'Save'. The list price that students will see in
        other currencies is calculated using the price tier matrix, based on the tier that it corresponds to.</p>

      <div class="input-group">
        <select class="form-control col-md-2">
          <option>AUD</option>
          <option>BRL</option>
          <option>CAD</option>
          <option>EUR</option>
          <option>GBP</option>
          <option>IDR</option>
          <option>ILS</option>
          <option>INR</option>
          <option>JPY</option>
          <option>KRW</option>
          <option>MXN</option>
          <option>NOK</option>
          <option>PLN</option>
          <option>SGD</option>
          <option>TXB</option>
          <option>TRY</option>
          <option>TWD</option>
          <option>USD</option>
          <option>ZAR</option>
        </select>&nbsp;&nbsp;
        <select class="form-control col-md-2">
          <option>Free</option>
          <option>1,200</option>
          <option>1,600</option>
          <option>1,920</option>
        </select>&nbsp;&nbsp;
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>