


<app-complete-guide></app-complete-guide>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3>
        <p> What you will learn</p>
      </h3>
      <mat-card>
        <div class="row">

          <table class="table table-borderless">

            <tbody>
              <tr>
                <td>
                  <ul>
                    <li>
                      <span>How to Draw Characters Well.
                        Character Art School is a learn-anywhere video course where you learn how to draw professional
                        characters for
                        books, games, animation, manga, comics and more.</span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>
                      <span>How to Draw Characters Well.
                        Character Art School is a learn-anywhere video course where you learn how to draw professional
                        characters for
                        books, games, animation, manga, comics and more.</span></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul>
                    <li>
                      <span>How to Draw Characters Well.
                        Character Art School is a learn-anywhere video course where you learn how to draw professional
                        characters for
                        books, games, animation, manga, comics and more.</span></li>
                  </ul>
                </td>
                <td>
                  <ul>
                    <li>
                      <span>How to Draw Characters Well.
                        Character Art School is a learn-anywhere video course where you learn how to draw professional
                        characters for
                        books, games, animation, manga, comics and more.</span></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </mat-card>
      <h3>
        <p> Requirements</p>
      </h3>

      <div class="row" style="padding-left:15px">
        <ul>
          <li>
            Paper and Pencils or Digital Tools
          </li>
          <li>
            Motivation to Learn!
          </li>
          <li>
            A Desire to Draw Professionally
          </li>
        </ul>
      </div>
      <h3>
        <p> Description</p>
      </h3>

      <div>
        <p>With over 6500 5-Star reviews, join thousands of Artists in training in the best Character Drawing Course in
          the world!

          What is Character Art School?

          Character Art School is a learn-anywhere video course where you learn how to draw professional characters for
          books, games, animation, manga, comics and more. I’ve hand-crafted the Character Art School: Complete
          Character Drawing course to be the only course </p>
      </div>

      <h3>
        <p> Featured Review</p>
      </h3>
      <mat-card class="example-card">

        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu ( 10 courses, 6 reviews )</mat-card-title>
          <mat-card-subtitle>
            <div>
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
            </div>
          </mat-card-subtitle>

          <mat-card-subtitle>11 Months ago</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          Was this review helpful?
          <button mat-button>Yes</button>
          <button mat-button>No</button>
          <a href="">Report</a>
        </mat-card-actions>
      </mat-card><br>
      <h3>
        <p> Students also bought</p>
      </h3>
      <div>
        <div class="card ">
          <div class="row" style="padding: 1%">
            <div class="course-comparison-item col-md-2">
              <img src="assets/img/avatars/2.jpg" width="125" height="70" class="imgcourse">
              <div class="course-comparison">3 hours</div>
            </div>

            <div class="col-md-5 ">
              <label> <b>Angular 7 (formerly Angular 2) - The Complete Guide</b></label>

              <p>Updated 2/2019</p>
            </div>
            <div class="col-md-1">
              <i class="fa fa-star fa-lg " style="color: coral"></i>4.6
            </div>
            <div class="col-md-2">
              <i class="fa fa-user fa-lg "></i>1,066
            </div>
            <div class="col-md-2">
              <div style="display: inline-block;font-size:15px;">
                <i class="fa fa-rupee fa-lg "></i>1,066
                <i class="fa" [class.fa-heart-o]="fav" [class.fa-heart]="!fav" (click)=favrite() style="color: red;cursor: pointer;"></i>
              </div>
              <div> <i class="fa fa-rupee "><s>9600</s> </i></div>
            </div>

          </div>
        </div>
      </div>

      <mat-card>
        <div class="row">
          <div class="col-md-4">
            <h3>
              <p> Course content</p>
            </h3>
          </div>
          <div class="col-md-4">
            <p style="float:right;padding-top: 20px">63 Lectures</p>
          </div>
          <div class="col-md-4" style="float:right">
            <p style="float:right;padding-top: 20px">11:22:55</p>
          </div>


        </div>
        <app-course-list  [unsubcourseValue]=true></app-course-list>
        <!-- <app-contents [unsubcourseValue]=true></app-contents> -->
      </mat-card>
      <br>
      <mat-card style="border: 1px solid gainsboro">
        <div>
          <h3>Frequently Bought Together</h3>
        </div>
        <div class="">
          <div class="row">
            <div class="col-md-9" style="padding-right: 0%;padding-left: 0%">
              <div class="row" style="margin-left: 0px !important;padding-left: 12px;">
                <div class="mediaQ" *ngFor="let list of courseList">
                  <mat-card style="padding: 0px">
                    <div class="mycourses" style="margin: 6px">
                      <div class="imageAngular">
                        <img [src]="list.img" alt="Angular Crash Course for Busy Developers" style="width:100%;max-height: 130px">
                        <div class="dropdown-menu dropdown-menu-right m-0" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Instructor Collection</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Share</a>
                          <a class="dropdown-item" href="#">Create new collection</a>
                          <a class="dropdown-item" href="#">Favorite</a>
                          <a class="dropdown-item" href="#">Archived</a>
                        </div>
                      </div>
                      <div class="courseDetails">
                        <div class="details">
                          <h6>{{list.courseTitle}}</h6>
                        </div>
                        <div>
                          <p>{{list.author}}</p>
                        </div>
                        <div class="coursecomplete" style="display: flex">
                          <div>
                            <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                            <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                            <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                            <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                            <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                          </div>
                          <div>{{list.rating}}</div>&nbsp;
                          <div>({{list.totalCounts}})</div>
                        </div>
                        <div class="pull-right">
                          <span><s><i class="fa fa-mobile"></i>{{list.actualPrice}}</s></span>&nbsp;&nbsp;
                          <span style="font-size: 1.5em"><i class="fa fa-mobile fa-lg"></i>{{list.discountPrice}}</span>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <h5>Total:₹1,280 &nbsp; <s style="color:gray">₹22,080</s></h5>
              </div>
              <div>
                <button class="btn btn-danger btn-block" style="display: block">Buy now</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <br>
      <h3>
        <p> About the instructors</p>
      </h3>

      <div>
        <mat-card class="example-card">

          <mat-card-header>
            <div mat-card-avatar class="example-header-image">
            </div>

            <mat-card-title>Shiba Inu ( 10 courses, 6 reviews )</mat-card-title>
            <mat-card-subtitle>
              <div>
                <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
                <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              </div>
            </mat-card-subtitle>

            <mat-card-subtitle>11 Months ago</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="row">
              <div class="col-md-3">
                <div>
                  <p>
                    <i class="fa fa-star"> </i> 4.5Instructor Rating
                  </p>
                  <p>
                    <i class="fa fa-wechat"> </i> 67,290Reviews
                  </p>
                  <p>
                    <i class="fa fa-user"> </i> 393,398Students
                  </p>
                  <p>
                    <i class="fa fa-play-circle"> </i> 7Courses
                  </p>
                </div>
              </div>
              <div class="col-md-9">
                <p>
                  At the age of 17 I began a 6th month internship with an animation studio out of Utah. After my
                  internship was up, I was hired on to build backgrounds and to design props and characters for
                  animation projects. I then began to do my own freelance work on the side through networking and using
                  online freelancing sites. Now I work as a freelance Illustrator and designer working on my own time
                  from where ever I want.
                </p>
              </div>
            </div>
          </mat-card-content>

        </mat-card>
      </div>

      <h3>
        <p> Student feedback</p>
      </h3>

      <div class="row">
        <div class="col-md-3">
          <h6>4.5</h6>
          <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
          <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
          <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
          <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
          <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
          <p>Course Ratings</p>
        </div>
        <div class="col-md-9">
          <div class="row" *ngFor="let x of feedback">
            <div class="col-md-6">
              <mat-progress-bar class="progress" mode="determinate" value="40"></mat-progress-bar>
            </div>
            <div class="col-md-4"><i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
            </div>
            <div class="col-md-2">56%</div>
          </div>

        </div>

      </div>


      <h3>
        <p>Reviews</p>
      </h3>

      <div class="row">
        <div class="col-md-4">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">

            </div>
            <mat-card-title>Shiba Inu </mat-card-title>
            <mat-card-subtitle>
              18 Days Ago
            </mat-card-subtitle>
          </mat-card-header>

        </div>
        <div class="col-md-8">
          <mat-card-subtitle>
            <div>
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
              <i class="fa fa-star fa-lg" style="color: coral"></i>&nbsp;
            </div>
          </mat-card-subtitle>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            Was this review helpful?
            <button mat-button>Yes</button>
            <button mat-button>No</button>
            <a href="">Report</a>
          </mat-card-actions>
        </div>
      </div>

    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>