.order{
    margin-left:auto;
    font-size: medium;
}
.borders{
    border-bottom: 1px solid grey !important;
}
.mb{
    margin-bottom: 2%
}
.mt{
    margin-top: 1%
}
@media only screen and (min-width:768px) {
    .mediaContent {
      padding:0 40px;
 
    }
  }