<div class="container" >

  <div style="text-align: center">
    <div>
      <h2> Notifications</h2>
    </div>
    <div>
      <h6> Turn promotional email notifications from Udemy on or off</h6>
    </div>
  </div>


  <hr>

  <div class="card-body" >
    <label for=""> As an instructor, I want to receive:</label>

    <div class="col-form-label checkdesign"  id="something">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
        <label class="form-check-label" for="checkbox1">
          Helpful resources and important updates related to being an instructor on Udemy.To adjust this preference by
          course, leave this box checked and go to ‘Course Settings’ on the course management dashboard to opt in or
          out of specific notifications.

        </label>
      </div>

    </div>
    <hr>
    <label for=""> As a student, I want to receive:</label>

    <div class="col-form-label checkdesign"  id="something">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="option1" id="checkbox2">
        <label class="form-check-label" for="checkbox2">
          Helpful resources and important updates related to being an instructor on Udemy.To adjust this preference by
          course, leave this box checked and go to ‘Course Settings’ on the course management dashboard to opt in or
          out of specific notifications.

        </label>
      </div>

    </div>
    <div class="col-form-label checkdesign"  id="something">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="option1" id="checkbox3">
        <label class="form-check-label" for="checkbox3">
          Helpful resources and important updates related to being an instructor on Udemy.To adjust this preference by
          course, leave this box checked and go to ‘Course Settings’ on the course management dashboard to opt in or
          out of specific notifications.

        </label>
      </div>

    </div>
    <div class="col-form-label checkdesign"  id="something">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="option1" id="checkbox4">
        <label class="form-check-label" for="checkbox4">
          Helpful resources and important updates related to being an instructor on Udemy.To adjust this preference by
          course, leave this box checked and go to ‘Course Settings’ on the course management dashboard to opt in or
          out of specific notifications.

        </label>
      </div>

    </div>
    <hr>
    <button type="submit" class="btn btn-primary pull-right">Save</button>
  </div>


</div>