#something:hover {
    background-color: rgb(241, 232, 232); 
}

.checkdesign{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #CACBCC;
    border-radius: 4px;
    width: 100%;
    margin-left: 0;
    margin-bottom : 5px;
    background-color: rgb(216, 207, 207); 
}

.card-body,.container{
    padding-right:0px !important;
    padding-left:0px !important;
}