@import '../../../utils/animations/ghost-animation.scss';
@import '../collections.component.scss';

:host {
  position: absolute;
  display:block;  
  overflow: hidden;
  width: 100%;

//   -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.ghost_item {
  overflow: hidden;
  margin-bottom: -6px;

  .lines { 

     margin-block-end: $ghost-row-gap; 
     
    h2,h6,.matCard{
      
      background-color: #ccc;
      border-bottom: 2px solid white;
      border-radius: 4px 4px 4px 4px;
      @include animate-ghost-line;
    }
    h2 {
      width: 20%;
      height: 30px;
    }
    h6{
        width: 40%;
        height: 16px;
    }
    .matCard{
        display: inline-block;
        vertical-align: top;
        max-width: 233px;
        min-height: 252px;
        min-width: 233px;
        margin: 1%;
    }

  
  }

}

