<div class="card">
    <div class="row">
      <div class="col-md-6" style="margin-top: 5%;">
        <img src="assets/video_creation_illustration.png" alt="" >
      </div>
      <div class="col-md-6" style="margin-top: 3%;">
        <h3>We check production so you can focus on instruction</h3>
        <ul>
          <li>Receive personalized tips for your filming area and equipment</li>
          <li>Increase recording quality before you build your course</li>
          <li>Master your on-screen delivery to become an instructor students will love</li>
        </ul>
        <p>Before you start, have the camera and microphone you'll be using to create your course.</p>
      
      </div>
      
      <div  class="buttonEqp">
          <button style="width:45%" class="btn btn-secondary">What equipment do I need?</button>&nbsp;&nbsp;     
          <button style="width:45%" class="btn btn-danger" routerLink="../start">I have my equipment</button>
      </div> 
    </div>
  </div>