
<div class="container"  >
  
  <div style="text-align: center">
    <div> <h2>  Privacy</h2></div>
    <div> <h6> Modify your privacy settings here.</h6> </div>
  </div>
 
<hr>

    <div class="card-body">
        <div class="col-form-label">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="option1" id="checkbox1">
              <label class="form-check-label" for="checkbox1">
                Show your profile on Search Engin
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="option1" id="checkbox2">
              <label class="form-check-label" for="checkbox2">
                Show courses you're taking on your   profile page
              </label>
            </div>
            </div>
   
  </div>
  <hr>
    <button type="submit" class="btn btn-primary pull-right">Save</button>

</div>
