<div class="row">
  <div class="col-md-8">
    <h4>Workbench</h4>
    
<div id="layersliders" style="width:750px;height:300px;margin:0 auto;margin-bottom: 0px;">
  <!-- Slide 1-->
    
  
<!-- Slide 1-->
<div class="ls-slide" data-ls="duration:4000; kenburnsscale:1.2;" >
  <img height="300" width="750" src="assets/ls_img/sunset.jpg" class="ls-bg" alt="" />
  <p style="text-shadow: 0 15px 15px rgba(0,0,0,.5);top:44%; left:50%; text-align:center; font-weight:100; font-size:80px; font-family:Pacifico; width:60%; line-height:110px; color:#fce6c5; white-space:normal;" class="ls-l" data-ls="durationin:2000; easingin:easeOutQuart; fadein:false; rotatein:-3; offsetxout:left; durationout:750; startatout:allinandloopend + 1500; easingout:easeInQuart; fadeout:false; rotateout:-10; texttransitionin:true; texttypein:words_center; textoffsetyin:50|-50; textdurationin:1500; texteasingin:easeOutQuart; textstartatin:transitioninstart + 0;">Hai Hello</p>
</div>


<!-- Slide 2-->
<div class="ls-slide" data-ls="duration:4000;">
  <img  height="300" width="750" src="assets/ls_img/autumn-bg.jpg" class="ls-bg" alt="" />
</div>


<!-- Slide 3-->
<div class="ls-slide" data-ls="duration:4000;">
  <img height="300" width="750"  src="assets/ls_img/beach.jpg" class="ls-bg" alt="" />
</div>
</div>
  </div>
  <div class="col-md-4">
    <h4>WorkbenchList</h4>
    <div class="vertical-menu">
      <a href="#">Home</a>
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </div>
  </div>
</div>