<div class="mediaContent">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #c5d0e4 !important;">
      <a class="navbar-brand" routerLink="">
          <img src="assets/einston.svg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                  <button class="btn btn-default" data-toggle="dropdown"><i class="fa fa-th fa-lg"></i>&nbsp;&nbsp;
                      Categories
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-code fa-lg"></i> Development</a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"> <i class="fa fa-bar-chart fa-lg"></i> Business</a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-tv fa-lg"></i> IT and Software </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-newspaper-o fa-lg"></i> Office Productivity </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="icon icon-book-open font-xl"></i> Personal Development </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-tv fa-lg"></i> Design</a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-suitcase fa-lg"></i> Marketing </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-group fa-lg"></i> Lifestyle </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-camera-retro fa-lg"></i> Photography </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-heartbeat fa-lg"></i> Health & Fitness </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-music fa-lg"></i> Music </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                      <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown"
                              href="#"><i class="fa fa-cubes fa-lg"></i> Teaching & Academics </a>
                          <ul class="dropdown-menu">
                              <a class="dropdown-item" href="#">A</a>
                              <a class="dropdown-item" href="#">b</a>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="nav-item">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search" name="search">
                      <div class="input-group-append">
                          <button class="btn btn-danger" type="submit"><i class="fa fa-search"></i></button>
                      </div>
                  </div>
              </li>

          </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown" style="padding-top: 1%">
                  <button class="btn btn-outline" type="button"  routerLink="/instructor/course"><h5>Instructor</h5>
                  </button>
                  <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/coursemanage">
                          Finish Your Course
                        <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
                      </a>
                      <a class="dropdown-item" routerLink="/instructor/course">
                          Instructor Dashboard
                      </a>
                      <a class="dropdown-item" href="#">News and Resources</a>
                      <a class="dropdown-item" routerLink="/courses">Create a Course</a>
                  </div>
              </li>&nbsp;&nbsp;
              <li class="nav-item dropdown" style="padding-top: 1%">
                  <button class="btn btn-outline" type="button"  routerLink="/mycourse/allcourses"><h5>My Courses</h5>
                  </button>
                  <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/course/overview">Angular Crash Course for Busy Developer</a>
                      <a class="dropdown-item" href="#">Java Programming Basics</a>
                      <a class="dropdown-item" href="#">Big Data with Apache Spark</a>
                  </div>
              </li>
              <li class="nav-item dropdown" style="padding-top: 1%">
                <button class="btn btn-default" type="button"  routerLink="/mycourse/wishlist">
                    <mat-icon matBadge="5" matBadgeColor="warn" style="color:red">favorite_border</mat-icon>
                </button>
                <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Your wishlist is empty.</a>
                    <!-- <a class="dropdown-item" href="#">Explore courses</a> -->
                </div>
            </li>
              <li class="nav-item dropdown" style="padding-top: 1%">
                <button class="btn btn-default" type="button"  routerLink="/cart">
                    <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon>
                </button>
                <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item">Your wishlist is empty.</a>
                    <!-- <a class="dropdown-item" href="#">Explore courses</a> -->
                </div>
            </li>
             
              <li class="nav-item dropdown" style="padding-top: 1%">
                  <!-- <button mat-button class="btn btn-default btn-lg">Login</button> -->
                  <button class="btn btn-default" type="button"  routerLink="/notification/instructor">
                      <mat-icon matBadge="5" matBadgeColor="warn">notifications_none</mat-icon>
                  </button>
                  <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item">No Notifications</a>
                  </div>
              </li>&nbsp;
              <!-- <li>
                  <button mat-button class="btn btn-danger btn-lg">SignUp</button>
              </li> -->
              <li class="nav-item dropdown">
                  <button class="btn btn-default" type="button" routerLink="/userprofile">
                      <div><img class="profileimg" src="assets/img/avatars/8.jpg" alt=""></div>
                  </button>
                  <div class="dropdown-menu dropleft" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/userprofile">
                          <div class="row">
                              <div style="display: flex">
                                  <img class="profileimg" src="assets/img/avatars/8.jpg" alt="">&nbsp;&nbsp;
                                  <div>
                                      <div><b>Mosh Feghhamedani</b> </div>
                                      <div>moshfeghham@gmail.com</div>
                                  </div>
                              </div>
                          </div>
                      </a>
                      <a class="dropdown-item" href="#"><i class="fa fa-bell-o fa-lg"></i>
                          My notifications<span class="badge badge-pill badge-danger" style=" position: relative;
                    left: 5px;">3</span></a>
                      <a class="dropdown-item" href="#"><i class="fa fa-commenting fa-lg"></i> Messages
                          <span class="badge badge-pill badge-danger" style=" position: relative;
                    left: 5px;">2</span></a>
                      <a class="dropdown-item" href="#"> <i class="fa fa-share fa-lg"></i> Invite friends</a>
                      <a class="dropdown-item" routerLink="/purchase"> <i class="fa fa-history fa-lg"></i> Purchase history</a>
                      <a class="dropdown-item" href="#"> <i class="icon icon-wallet font-xl"></i> Einston Edu Credits</a>
                      <a class="dropdown-item" href="">Wishlist</a>
                      <a class="dropdown-item" href="">Instructor Dashboard</a>
                      <a class="dropdown-item" href="">Help</a>
                      <a class="dropdown-item" href="">Logout</a>
                  </div>
              </li>
              <li class="nav-item">
              </li>
          </ul>
      </div>
  </nav>
</div>
<!-- <img src="assets/img/training2.png" alt=""> -->
<!-- <router-outlet>
</router-outlet> -->
