<div *ngFor='let it of ghosts' class='ghost_item' fxFlex.xs="100" fxFlex="90">
    <div class="lines">
      <div class="row">
        <div class="col-md-9">
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3">
          <button mat-raised-button class="btn"></button>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col-md-3"><select class="form-control">
            </select>
          </div>
          <div class="col-md-9">
            <!-- <span class="pull-right" style="font-size: 16px">
              <mat-checkbox>See question i'm following</mat-checkbox>&nbsp;
              <mat-checkbox>See question without responses</mat-checkbox>
            </span> -->
          </div>
        </div>
    </div>
  </div>