<div class="container">

  <div style="text-align: center">
    <div>
      <h2> Close Account</h2>
    </div>
    <div>
      <h6> Close your account permanently.</h6>
    </div>
  </div>

  <hr>

  <div class="card-body">
    <label for="">Close Account</label><br>
    <label for="">Instructors:</label><br>
    <span>You are an instructor of at least one published or draft course. Please unpublish and delete the course. <a href="#" target="_blank">Get
        instructions</a>. Afterwards, you will then have the option to close your account.</span>
  </div>


</div>