// ghost css
$row-gap: 15px;
$ghost-row-gap: ($row-gap - 3) px;
$min-content-height: 459px;
:host {
    display: block;
    position: relative;
    overflow: hidden;
}

.content {
    min-height: $min-content-height;
}

.spinner {
    position: absolute;
    top: 30%;
    left: 40%;
}
