<div class="card">
    <div class="card-header">
      <h5>Communications</h5>
    </div>
    <div class="card-body">
      <div>
        <p>Write messages to your students (optional) that will be sent automatically when they join or complete your course to encourage students to engage with course content. If you do not wish to send a welcome or congratulations message, leave the text box blank.</p>
      </div>
      <div>
        <label>Welcome Message</label>
        <textarea class="form-control" rows="5"></textarea>
      </div><br>
      <div>
          <label>Congratulations Message</label>
          <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
  </div>