
<!-- <mat-spinner></mat-spinner> -->
      <div class="col-md-12" style="padding: 0px">
 
        <div id="sl" style="width:750px;height:300px;margin:0 auto;margin-bottom: 0px;">
         
            
          
        <!-- Slide 1-->
        <div class="ls-slide" data-ls="duration:4000; kenburnsscale:1.2;" >
          <img height="300" width="750" src="assets/ls_img/sunset.jpg" class="ls-bg" alt="" />
          <p style="text-shadow: 0 15px 15px rgba(0,0,0,.5);top:44%; left:50%; text-align:center; font-weight:100; font-size:80px; font-family:Pacifico; width:60%; line-height:110px; color:#fce6c5; white-space:normal;" class="ls-l" data-ls="durationin:2000; easingin:easeOutQuart; fadein:false; rotatein:-3; offsetxout:left; durationout:750; startatout:allinandloopend + 1500; easingout:easeInQuart; fadeout:false; rotateout:-10; texttransitionin:true; texttypein:words_center; textoffsetyin:50|-50; textdurationin:1500; texteasingin:easeOutQuart; textstartatin:transitioninstart + 0;">Hai Hello</p>
        </div>
        
        
        <!-- Slide 2-->
        <div class="ls-slide" data-ls="duration:4000;">
          <img  height="300" width="750" src="assets/ls_img/autumn-bg.jpg" class="ls-bg" alt="" />
        </div>
        
        
        <!-- Slide 3-->
        <div class="ls-slide" data-ls="duration:4000;">
          <img height="300" width="750"  src="assets/ls_img/beach.jpg" class="ls-bg" alt="" />
        </div>
      </div>
      </div>
      <br>
      <div class="courseContent">
      <div class="row" style="width:100%">
        <div class="col-md-12">
          <app-dashboard-courses></app-dashboard-courses>
        </div>
      </div>
        <!-- <div class="col-md-3" style="border: 1px solid lightgray">
            <h4 style="text-align: center">eGame</h4>
           <app-e-game></app-e-game> 
        </div> -->
      </div>
      <div>
        <app-events></app-events>
      </div>
      <br>
      <div class="courseContent">
      <div class="row">
        <div class="col-md-9">
          <app-workbench></app-workbench>
        </div>
        <div class="col-md-3" style="border: 1px solid lightgray">
          <h4 style="text-align: center">Kits</h4>
        </div>
      </div>
      <div class="wrapper">
        <div class="container">
        <div class="row">
          <div class="col-md-3" style="margin-top:3px">
              <h4 class="borders"> <a href="http://logichive.in/privacy-policy/">Privacy Policy</a></h4>
              
           
          </div>
          <div class="col-md-4">
            <h4 class="borders">Follow us on Facebook</h4>
            <div >
              <div  
              data-width="500" data-href="https://www.facebook.com/logichivesolutions/" width="500"><span
                  style="vertical-align: bottom; width: 355px; height: 181px;">
                  <iframe name="f57cde146aa69" width="500px"
                    height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                    title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.7/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fvy-MhgbfL4v.js%3Fversion%3D44%23cb%3Df2f827698f3b54c%26domain%3Dlogichive.in%26origin%3Dhttp%253A%252F%252Flogichive.in%252Ff161697663fcfec%26relation%3Dparent.parent&amp;container_width=355&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Flogichivesolutions%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false&amp;width=500"
                    style="border: none; visibility: visible; width: 355px; height: 181px;" class=""></iframe></span></div>
            </div><span class="seperator extralight-border"></span>
          </div>
          <div class="col-md-5" >
            <h4 class="ml borders">Reach Us At</h4>
            <div class="reach">
              <p><strong>LOGICHIVE SOLUTIONS</strong><br>
                #1511 2nd Floor, Venkateshwara Plaza<br>
                Vinobha Road, Mysuru<br>
                Karnataka 570001<br>
                <strong>LOGICHIVE RESEARCH</strong><br>
                1st Floor, NIE-TBI, Near Diamond Jubilee Block<br>
                The National Institute of Engineering Mysuru<br>
                Karnataka 570008</p>
            </div>
          </div>
        </div>    
        </div>
      </div>
    </div>