<div *ngFor='let it of ghosts' class='ghost_item' fxFlex.xs="100" fxFlex="50">
    <div class="lines">
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <br>
          <button class="btn"></button>
        </div>
      </div>
    </div>
    <div class="lines">
      <div class="row">
        <mat-card class="matCard">
        </mat-card>
        <mat-card class="matCard">
          </mat-card>
      </div>
      </div>
  </div>