.alert-info {
    background-color: #E6F2F5;
    border-color: #E6F2F5;
    color: #003440;
}
.alert {
    padding: 20px;
    margin-bottom: 21px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: left;
}

.card-body,.container{
    padding-right:0px !important;
    padding-left:0px !important;
}