<div class="card">
    <div style="margin-left:2%">
    <h3>Six easy steps to receive expert feedback</h3>
    <!-- <video src="assets/test_video.mp4"></video> -->
    <video width="320" height="240" controls>
        <source src="/assets/vido/test_video.mp4" type="video/mp4">
          </video>
          <p>Create a short test video so our experts can provide free feedback within two days on your audio, video, tone, and delivery. Your video can be on any subject you want, it's just a sample!</p>
  <b>Test video steps:</b>
  <ol>
    <li> Tell us which language will be spoken in your video </li>
    <li>Let us know what types of feedback will be helpful</li>
    <li>Optimize your area and equipment</li>
    <li>Ensure students can see, hear, and understand you</li>
    <li>Record a test of 1-3 minutes</li>
    <li>Submit as many as you want</li>
  </ol>
  <p><b>We recommend reviewing with us before filming a course, and whenever you use something new or move locations.</b></p>
  <button class="btn btn-danger pull-right btnStarted" routerLink="../videoSetup">Get Started</button>
  </div>
  </div>