<div class="content">
    <br>
    <div *ngFor="let announce of announcement">
        <div *ngIf='users$ | async as users'>
            <mat-card style="margin: 2px">
                <div class="row">
                    <div class="col-md-12" style="display:flex">
                        <img class="imgContents" src="{{announce.avatar}}">&nbsp;&nbsp;
                        <div>
                            <div>
                                <h6>{{announce.authorName}}</h6>
                            </div>
                            <div><a [routerLink]="[ '/path', routeParam ]">posted an announcement </a>&nbsp;: 3 Months
                                ago</div>
                            <div style="font-size: 20px">{{announce.cmtsHeading}}</div>
                            <br>
                            <div style="width: 100%">
                                <p>{{announce.comments}}</p>
                            </div>
                            <div class="row">
                                <div><img class="imgContents" src="assets/img/avatars/8.jpg" alt=""></div>
                                &nbsp;&nbsp;&nbsp;
                                <div style="padding-top:1%;width: 85%">
                                    <input type="text" class="form-control" placeholder="Add an answer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <app-announcement-ghost *ngIf="!useSpinner" [ghosts]="ghosts" [@fadeOut]="!ghosts.length" fxLayout="row wrap"></app-announcement-ghost>
</div>