.card-body {
    height: 380px;
}
.mat-tab-label {
    height: 120px !important;
    width: 100% !important;
    // width: 55px !important;
    
}
// no content text center
.nocontent{
    text-align: center;
    padding-top: 145px;
}