<mat-card-title>
    <h2 class="mt30">Get top insights about your performance</h2>
  </mat-card-title>
  <mat-card-content>
<mat-card>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>

          <div>
            <p> Total revenue</p>
            <h2> <b>
                <p>$0.00</p>
              </b></h2>
            <p>$0.00 this month</p>
          </div>

        </ng-template>
        <div class="card">
          <div class="card-body" >
           <div class="row" >
             <div class="col-md-8"></div>
             <div class="col-md-2" style="text-align:right">  <label for="">Date Range:</label></div>
             <div class="col-md-2"><select name="" id="" class="browser-default custom-select">
                <option selected>Open this select menu</option>
               <option value="">Last 7 days</option>
               <option value="">Last 30 days</option>
               <option value="">Last 12 months  </option>
               <option value="">All time</option>
             </select></div>
             
           </div>
           <div class="nocontent">
            <h5> No Content To display....</h5>
          </div>
          </div>
          <div class="card-footer" style="text-align:center"><a href="#" class="btn btn-sm btn-link">Revenue Report<span><i
                  class="fa fa-chevron-right"></i></span></a></div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>

          <div>
            <p>Total enrollments <span><i class="fa fa-question-circle" matTooltip='This is The total number of enrollments across your published and unpublished courses. For example, if a student is enrolled in two of your courses, that student count for two enrollments '></i></span>
            </p>
            <h2> <b>
                <p>0</p>
              </b></h2>
            <p>0 this month</p>
          </div>

        </ng-template>

        <div class="card">
            <div class="card-body" >
                <div class="row" >
                  <div class="col-md-8"></div>
                  <div class="col-md-2" style="text-align:right">  <label for="">Date Range:</label></div>
                  <div class="col-md-2"><select name="" id="" class="browser-default custom-select">
                     <option selected>Open this select menu</option>
                    <option value="">Last 7 days</option>
                    <option value="">Last 30 days</option>
                    <option value="">Last 12 months  </option>
                    <option value="">All time</option>
                  </select></div>
                  
                </div>
                <div class="nocontent">
                  <h5> No Content To display....</h5>
                </div>
               </div>
          <div class="card-footer" style="text-align:center"><a href="#" class="btn btn-sm btn-link">Learn about your
              students<span><i class="fa fa-chevron-right"></i></span></a></div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>

          <div>
            <p> Instructor rating <span><i class="fa fa-question-circle " matTooltip='Ratings are calculated from individual students ratings and a veriety ofother signals, like age of rating and reliability, to ensure that they reflect course quality fairly and acurately'></i></span></p>
            <h2> <b>
                <p>0.00</p>
              </b></h2>
            <p>0 rating this month</p>
          </div>


        </ng-template>
        <div class="card">
            <div class="card-body" style="min-height:380px">
                <div class="row" >
                  <div class="col-md-8"></div>
                  <div class="col-md-2" style="text-align:right">  <label for="">Date Range:</label></div>
                  <div class="col-md-2"><select name="" id="" class="browser-default custom-select">
                     <option selected>Open this select menu</option>
                    <option value="">Last 7 days</option>
                    <option value="">Last 30 days</option>
                    <option value="">Last 12 months  </option>
                    <option value="">All time</option>
                  </select></div>
                  
                </div>
                <div class="nocontent">
                  <h5> No Content To display....</h5>
                </div>
              
               </div>
          <div class="card-footer" style="text-align:center"><a href="#" class="btn btn-sm btn-link">Rating Report<span><i
                  class="fa fa-chevron-right"></i></span></a></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
  </mat-card-content>